.form-control {
  font-size: 1.4rem;
}
.form-group {
  margin: 25px 0;
}

/***** Buttons ******/
.btn {
  font-size: 1.4rem;
  margin: 10px 0;
}


/***** Checkboxes ******/
.custom-control-label {
  width: 100%;
  cursor: pointer;
  .slot {
    padding: 0 10px;
  }
}
.custom-control-input {
  cursor: pointer;
}

.form-check {
  display: flex;
  flex-direction: column;
}
.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label::before {
    color: white;
    border-color: $green;
    background-color: $green;
  }
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $teal;
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(77, 192, 181, 0.25);
  }

  .custom-control-label {
    &:before,
    &:after {
      width: 2rem;
      height: 2rem;
    }
  }
}

/******** Custom Forms ********/
.custom-filter-panel,
.custom-grid-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
  .form-check {
    margin: 10px 0;
  }
}

