/***** Navbar *****/
.navbar {
  width: 100%;
  height: 45px;
  position: fixed;
  z-index: 2;
}

.navbar-main {
  background-color: $secondary-color;
  a {
    color: white;
  }
  .dropdown-menu {
    background-color: $main-color;

    .dropdown-item {
      &:hover {
        color: white;
        background-color: $main-color-hover;
      }
    }
  }
}

/***** Sidebar *****/
.admin-side-nav {
    padding: 15px;
    height: auto;
    @media (min-width: 1040px) {
      height: 100vh;
      position: fixed;
    }
}
.admin-side-nav {
  .nav-title {
    font-weight: 500;
    margin: 15px 0;
    color: white;
  }
  .nav-item {
    min-width: 200px;
    margin: 8px 0;
    padding: 8px;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background: rgba(255,255,255,0.15);
    }
    a {
      text-decoration: none;
    }
  }
  .nav-item-text--light {
    color: white;
    &:hover {
      color: white;
    }
  }
}






.admin-content-wrapper {
  padding-top: 45px;
}
.admin-panel {
  min-height: calc(100vh - 45px);
  height: 100%;
  padding: 20px;
}
